<div class="tweet-header">
  <a href="http://twitter.com/{{user_screen_name}}" target="_blank">
    <img class="avatar" src="{{user_avatar}}">
    <strong class="fullname">{{user_name}}</strong>
    <span class="screenname">@{{user_screeen_name}}</span>
  </a>
  <span class="pull-right"><i class="glyphicon glyphicon-retweet"></i> {{retweet_count}}</span>
</div>
<p class="tweet-text">{{autolink text}}</p>
